{% extends 'base.html.twig' %}

{% block title %}Liste des stages proposé par une formation{% endblock %}

{% block titresPage %}
<h1><center>Liste des stages proposé par la formation {{ formation }}</center></h1>
{% endblock %}
{% block contenu %}
<div class="p-4">
<div class="card-columns">
{% for stage in stages %}
<div class="card">
  <div class="card-body">
    <img class="card-img-top" src="https://www.bagherra.eu/wp-content/uploads/2016/11/orionthemes-placeholder-image-1.png">
    <h5 class="card-title">{{stage.titre}} - {{stage.entreprise.nom}}</h5>
    <p class="card-text">{{stage.description}}</p>
    <center>
    <a href="{{ path('stage_show', {'id': stage.id}) }}" class="btn btn-primary">Consulter le stage</a>
    </center>
  </div>
</div>
{% else %}
no records found
{% endfor %}
</div>
</div>
{% endblock %}
