{% extends 'base.html.twig' %}

{% block titresPage %}
<h1><center>Stage</h1>
{% endblock %}

{% block contenu %}
<div class="p-3 border bg-light">
<div class="card">
	<div class="card-title">
	<div class="p-3 border bg-light">
		<h3><strong> {{stage.titre}} </strong></h3>
	</div>
	</div>
	<div class="card-body">
		<h5><strong>Domaine :</strong> {{stage.domaine}} </h5>
		<h5><strong>Description :</strong> {{stage.description}} </h5>
		<h5><strong>Email de contact :</strong> {{stage.emailContact}} </h5>
	</div>
</div>
</div>
<div class="p-3 border bg-light">
<div class="card">
	<div class="card-title">
	<div class="p-3 border bg-light">
		<h3><strong> Formation </strong></h3>
	</div>
	</div>
	<div class="card-body">
		{% for formation in stage.formation %}
		<h5>{{formation.nom}}</h5>
		{% endfor %}
	</div>
</div>
</div>
<div class="p-3 border bg-light">
<div class="card">
	<div class="card-title">
	<div class="p-3 border bg-light">
		<h3><strong> Entreprise </strong></h3>
	</div>
	</div>
	<div class="card-body">
		<h5><a href="/entreprise/{{stage.entreprise.nom}}"> {{stage.entreprise.nom}} </a></h5>
	</div>
</div>
</div>
{% endblock %}