{% extends 'base.html.twig' %}

{% block titresPage %}
<h1><center>Stages triés par formation</h1>
{% endblock %}
{% block contenu %}
<p><center>Liste des stages triés par formation</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Titre</th>
      <th scope="col">Description</th>
      <th scope="col">Email contact</th>
      <th scope="col">Domaine</th>
      <th scope="col">Formation</th>
      <th scope="col">Entreprise</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for stage in listeStages %}
      <td> {{stage.id}} </td>
      <td> <a href="/stage/{{stage.id}}"> {{stage.titre}} </a> </td>
      <td> {{stage.description}} </td>
      <td> {{stage.emailContact}} </td>
      <td> {{stage.domaine}} </td>
      <td>
      {% for form in stage.formation %}
      {{ form.nom }}<br/>
      {% endfor %}
      </td>
      <td> {{stage.entreprise.nom}} </td>
     </tr>
      {% endfor %}
    </tr>
  </tbody>
</table>
{% endblock %}