{% extends 'base.html.twig' %}

{% block titresPage %}
<h1><center>Liste des entreprises</h1>
{% endblock %}
{% block contenu %}
<div class="p-3">
	<p><center>Liste des entreprises</center></p>
	<a href="/creer-entreprise"><input type="button" class="btn btn-primary" value="Creer une nouvelle entreprise"></a>
</div>
<div class="p-3">
<table class="table">
  <thead>
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Nom</th>
      <th scope="col">Activité</th>
      <th scope="col">Adresse</th>
      <th scope="col">Lien site web</th>
	  <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for entreprise in listeEntreprise %}
      <td> {{entreprise.id}} </td>
      <td> <a href="/entreprise/{{entreprise.nom}}"> {{entreprise.nom}} </td>
      <td> {{entreprise.activite}} </td>
      <td> {{entreprise.adresse}} </td>
      <td> <a href="http://{{entreprise.lienSiteWeb}}"> {{entreprise.lienSiteWeb}} </td>
      <td> <a href="/modifier-entreprise/{{entreprise.id}}"><button class="btn btn-primary">Modifier</button></td>
     </tr>
      {% endfor %}
    </tr>
  </tbody>
</table>
</div>
{% endblock %}