{% extends 'base.html.twig' %}

{% block titresPage %}
<h1><center>Creer une nouvelle entreprise</center></h1>
{% endblock %}
{% block contenu %}<div class="p-4">
	<div class="card">
	{{ form_start(vueFormulaire, { 'attr' : {'novalidate':'novalidate'}} ) }}
	<div class="p-2 border bg-light">
		{{ form_row(vueFormulaire.nom) }}
		{{ form_row(vueFormulaire.activite) }}
		{{ form_row(vueFormulaire.adresse) }}
		{{ form_row(vueFormulaire.lienSiteWeb) }}
		</div>
		<div class="p-2">
		<button type="submit"> Enregistrer </button>
	{{ form_end(vueFormulaire) }}
</div>
{% endblock %}